
<br>
<span>Fullness:@ViewBag.fullness</span>  
<span>Happyness:@ViewBag.happyness</span> 
<span>Meals:@ViewBag.meals</span>
<span>Energy:@ViewBag.energy</span>

<div>
    <p>You played with your dachi!</p>
    <p>@ViewBag.message</p>
</div>
<a href="feed"><button>Feed</button></a>
<a href="play"><button>Play</button></a>
<a href="work"><button>Work</button></a>
<a href="sleep"><button>Sleep</button></a>