<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
</head>

<body>
    <h1>The button has been pushed <span></span> time(s)</h1>
    <p>Push the button to update the count!</p>
    <a href="">
        <button>Push the epic button</button>
    </a>
    <script type="text/javascript">
        var socket = io.connect();
        $(function () {
            $("a").click(function (event) {
                event.preventDefault();
                socket.emit("click", {
                    msg: "button was clicked"
                });
            });
            socket.on("count", function (data) {
                console.log(data.data);
                $("span").html(data.data);
            });
        });
    </script>
</body>

</html>