@model Ninja
@{
    ViewData["Title"] = "Home Page";
}

<br> <br>
<form asp-action="" asp-controller="Home" method="post">
    <span asp-validation-for="Name"></span> <br>
    <label asp-for="Name"></label>
    <input asp-for="Name"> <br>
    
    <span asp-validation-for="Location"></span> <br>
    <label asp-for="Location"></label>
    <select asp-for="Location">
        <option value="San Jose">San Jose</option>
        <option value="Seattle">Seattle</option>
        <option value="New York">New York</option>
    </select>  <br>

    <span asp-validation-for="Language"></span> <br>
    <label asp-for="Language"></label>
    <select asp-for="Language">
        <option value="San Jose">San Jose</option>
        <option value="Seattle">Seattle</option>
        <option value="New York">New York</option>
    </select>  <br>
    
    <span asp-validation-for="Comment"></span> <br>
    <label asp-for="Comment"></label>
    <textarea asp-for="Comment">   </textarea> <br>
    
    <input type="submit" value="Submit">
</form>