@model Survey_model.Models.Ninja

<h2>Submitted info</h2>
    <table>
        <tr>
            <td>Name:</td>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <td>location:</td>
            <td>@Model.Location</td>
        </tr>
        <tr>
            <td>Language:</td>
            <td>@Model.Language</td>
        </tr>
        <tr>
            <td>Comment:</td>
            <td>@Model.Comment</td>
        </tr>
    </table>
