<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    {%  with messages = get_flashed_messages()  %}
        {% if messages %}
            {% for message in messages: %}
                <P class="errorinfo">{{message}}</P>
            {% endfor %}
        {% endif %}
    {% endwith %}
   
    <form action="/register" method="post" class="indexform">
        <!-- <input type="hidden" name="action" value="register"> -->
        firstname:<input type="text" name="firstname"> <br>
        lastname:<input type="text" name="lastname"> <br>
        email: <input type="text" name="email"> <br>
        password: <input type="password" name="password"> <br>
        confirm password: <input type="password" name="confirmpass"> <br> 
        <input type="submit" value="register">       
    </form>
    <form action="/login" method="POST" class="indexform">
        <!-- <input type="hidden" name="action" value="login"> -->
        Email:<input type="text" name="email"> <br>
        Password:<input type="password" name="password"> <br>
        <input type="submit" value="login">
    </form>
</body>
</html>