<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'random.css' %}" media="screen" title=""  charset="utf-8">
</head>
<body>
    <p>Random Word (attempt #{{request.session.attemtime}})</p>
    
    <h1>{{result}}</h1>
    <form action="/random/test" method="post" class="sub">
    {% csrf_token %}
    <input  type="submit" value="Generate">
    </form>
</body>
</html>