<br>
<h1>Here are the awesome quotes</h1>

@foreach(var quote in @ViewBag.AllQuotes){
<div>
    <p>"@quote["quote"]"</p> 
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- @quote["name"] at @quote["created_at"]</p>
    <hr>
</div>
}
