<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <h2>Edit User&nbsp;&nbsp;{{user.id}}</h2>
        <form action="/users/update/{{user.id}}" method="POST">
            {% csrf_token %}
            First name:
            <br>
            <input type="text" name="firstname" value="{{user.first_name}}">
            <br> Last name:
            <br>
            <input type="text" name="lastname" value="{{user.last_name}}">
            <br> Email:
            <br>
            <input type="text" name="email" value="{{user.email}}">
            <br>
            <input type="submit" value="Update">
            <br>
        </form>
        <a href="/users/{{user.id}}">Show</a>
        <a href="/users">Go Back</a>
</body>
</html>