.lost {
    width:200px;
    height: 200px;
    background-color: red;
    line-height: 200px;
    text-align: center;
}
.win {
    width:200px;
    height: 130px;
    background-color: green;
    padding-top:70px;
    text-align: center;
    font-size:20px;
}
.displayform {
    display: block;
}
.hideform {
    display: none;
}