<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Home</title>
        <link rel="stylesheet" href="~/css/home.css"/>
    </head>
    <body>
        <a href="http://localhost:5000">Home</a>
        <a href="http://localhost:5000/projects">Projects</a>
        <a href="http://localhost:5000/contact">Contact</a>
        <h1>About me!</h1>
        <div class="container">
            <div class="content">
                <img src="~/images/portfolio.jpeg" width="50" height="50"> <br>
                <h3>Lufeng ren</h3>
                <p>I like stuff!</p>
            </div>
            <div class="content">
                <p>
                    rwerwefdsfdsfdsfsdfsdfds
                    fdsfdsfdsfdsfsfdsfdssdfd
                    sdfsdfsdfdsfdsfdsfdsfds
                    fgfdgfgdfgdfgdf
                </p>
            </div>
        </div>

    </body>
</html>
