<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Home</title>
        <link rel="stylesheet" href="~/css/home.css"/>
    </head>
    <body>
        <h2>Submitted info</h2>
        <table>
            <tr>
                <td>Name:</td>
                <td>@ViewBag.name</td>
            </tr>
            <tr>
                <td>location:</td>
                <td>@ViewBag.location</td>
            </tr>
            <tr>
                <td>Language:</td>
                <td>@ViewBag.language</td>
            </tr>
            <tr>
                <td>Comment:</td>
                <td>@ViewBag.comment</td>
            </tr>
        </table>
    </body>
</html>






