<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
</head>

<body>
    <h1>Welcome to Quoting Dojo</h1>

    <% if(messages.quoting) { %>
        <% for (var x of messages.quoting) { %>
            <h3>
                <%= x %>
            </h3>
            <% } %>
                <% } %>
                    <br>
                    <form action="/quotes" method="post">
                        Your name:
                        <input type="text" name="name">
                        <br> Your quote:
                        <input type="text" name="quote">
                        <br>
                        <input name="submit" type="submit" value="Add my quote">
                        <input name="submit" type="submit" value="Skip to quotes">
                    </form>
</body>

</html>