* {
    margin:0;
    padding:0;
   
}
body {
    padding:20px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-stretch: narrower;
    font-weight: 280;
}

#header {
    width:970px;
    background-color: #245076;
    border-bottom:4px solid #193753;
}
#righttop {
    position:absolute;
    top:30px;
    right:450px;
}
#textsize {
    margin-left: 70px;
    margin-bottom: 5px;
    
}
#textsize a {
    color:#c0a700;
}
#textsize span {
    color:black;
}
#search {
    width:200px;
    background-color: #444444;
    padding:15px 30px 15px 50px;
    border-radius: 15px;
    box-shadow: 2px 2px black;
}
#search input {
    height: 25px;
    width:150px;
    border-left:2px solid grey;
    border-top:2px solid grey;
}
#search button {
    padding:5px;
    border-radius: 5px;
    border:2px solid #8d8c8c;
    background-color: #244f76;
    margin-left: 7px;
    width:32px;
    border-top:2px solid #c0c0c0;
    border-left:2px solid #c0c0c0;
}
#navigation {
    width:870px;
    height: 40px;
    background-color:#3e7aad;
    border-radius: 5px;
    margin-left: 50px;
    text-align: center;
    box-shadow: 2px 2px black
}
#navigation ul li {
    display:inline-block;
    line-height: 40px;
    margin-right: 40px;
}
#navigation ul li a {
    list-style: none;
    text-decoration: none;
    color:white;
    font-size:20px;
}
#menu {
    
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin-left: 70px;
    margin-top:30px;
    color:#ffda22;
    font-size:12px;
}
#menu ul{
    list-style: none;
    
}

#menu a {
    
    color:white;
    font-size:16px;
    line-height: 1.6;
}
#content {
    display: inline-block;
    vertical-align: top;
    width:600px;
    margin-left: 70px;
    margin-top:20px;
}
#topcontent {
    word-wrap: break-word;
}
#bottomcontent {
    margin-top:20px;
    text-align: center;
    color:#f4cd34;
    line-height: 1.6;
    font-style: italic;
    font-size:18px;
    padding-bottom:20px;
}
#bottomcontent span{
    color:white;
    font-size:16px;
}
#colums {
    width:970px;
    height:230px;
    background-color:#ffffff;
    text-align: center;
}
 .colum {
    width:400px;
    height: 220px;
    color:black;
    display: inline-block;
    vertical-align: top;
    margin:10px;
    border-top:4px solid #62a0d2;
    word-wrap: break-word;
    padding-top:10px;
} 
.colum span {
    
    font-weight: bold;
    
}
.colum p {
    margin-top:5px;
    margin-left:20px;
    width:300px;
}
.colum ul {
    margin-left:40px;
    padding-left: 0;
    list-style-type: square;
    /* list-style-position: inside; */
    width:280px;
    
}
.colum ul li span{
    color:#76abd7;
}
#footer {
    background:linear-gradient(#245177,#3474ab);
    width:970px;
    height: 50px;;
    text-align: center;
    padding-top:40px;
    padding-bottom: 10px;
}
#footer ul {
    list-style: none;
    font-size: 16px;
}

#footer ul li {
    display: inline-block;
    margin-right: 40px;
}
#footer ul li a {
    text-decoration: none;
    color:#8abce8;
}
#footer span {
    color:#8abce8;
    font-size: 10px;
    display: inline-block;
    margin-top:20px;
}
