<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}" media="screen" title=""  charset="utf-8">
</head>
<body>
    <div class="content">
        <h2>Add a new word</h2>
        <form action="/session_words/add_word" method="post">
            {% csrf_token %}
          <input type="text" name="word"> <br>
          Choose color <br>
          <input type="radio" name="color" value="red" checked> Red<br>
          <input type="radio" name="color" value="green"> Green<br>
          <input type="radio" name="color" value="blue"> Blue<br>
          <input type="checkbox" name="fonts" value="fonts">show in BIG fonts! <br>
          <input type="submit" value="Add to Session">
        </form>
        </div> 
        <!-- <div class="content">
          <span></span>
        </div> -->
        <div class="content">
          <a href="/session_words/clear"><button>Clear Session</button></a>
          {% for item in request.session.sessionarray %} 
          <p> <span class="{{item.1}} {{item.2}} ">{{item.0}}</span> - added on {{item.3}}</p>
          {% endfor%}
        </div>
</body>
</html>