<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <img src="../static/img/leonardo.jpg" alt="lenoardo" width=100>
    <img src="../static/img/michelangelo.jpg" alt="michelangelo" width=100>
    <img src="../static/img/donatello.jpg" alt="donatello" width=100>
    <img src="../static/img/raphael.jpg" alt="raphael" width=100>
</body>
</html>