<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Home</title>
        <link rel="stylesheet" href="~/css/home.css"/>
    </head>
    <body>

        @{
            DateTime CurrentTime = DateTime.Now;
            <h1>@CurrentTime.ToString("f")</h1>
        }

    </body>
</html>
        